/* Global Styles */

img {
    max-width: 100%;
}

body {
    background-color: #D7D7D9;
}

/* Mobile Styles */

#container {
    margin: 10px;
}

header {
    padding: 20px;
}

nav {
    text-align: center;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    color: white;
    font-size: 1.5em;
    margin: 5px 0;
    height: 50px;
    line-height: 50px;
}

nav li a:hover {
    color: #718BD9;
    text-shadow: none;
}

section, aside {
    padding: 20px;
}

section h1 {
    text-align: center;
    font-size: 1.6em;
}

aside {
    margin-top: 10px;
}

aside h2, aside h3 {
    text-align: center;
    font-size: 1.3em;
}

footer {
    padding: 40px 0;
    text-align: center;
}