body {
    background-color: #D7F207;
}

video {
    max-width: 100%;
}

/* Mobile Styles */

#container {
    margin: 10px;
}

header {
    background-image: url('../images/header_bg.png');
    background-size: cover;
    height: 250px;
    padding: 5px;
}

header h1 {
    color: #D7F207;
    line-height: 265px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    background-color: black;
    display: block;
    padding: 15px;
    margin: 2px 0;
    color: #D7F207;
    font-size: 1.3em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F22929;
}

section {
    background-color: black;
    margin-top: 2px;
    padding: 10px;
}

section h2, section h3 {
    color: #D7F207;
    text-align: center;
}

audio {
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border: 2px solid #D7F207;
    margin: 10px 0;
}

td th {
    color: #F22929;
    border: 2px solid #D7F207;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: black;
    color: #F22929;
    padding: 40px 0;
    text-align: center;
    margin-top: 5px;
}