/* Global Styles */

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F0;
}

video {
    max-width: 100%;
}

h2 {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    display: flex 50%;
    padding: 20px;
}

#menu {
    display: none;
}

/* Mobile Styles */

#container {
    margin: 10px;
}

header {
    background-color: #F21D44;
    padding: 20px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #F2F2F0;
    color: #958158;
    font-size: 1.5em;
    margin: 5px 0;
    height: 50px;
    line-height: 50px;
    text-shadow: none;
}

nav li a:hover {
    background-color: #F2F2F0;
    color: #F21D44;
    text-shadow: none;
}

section, aside {
    padding: 40px;
}

section h1 {
    text-align: center;
    font-size: 1.6em;
}

aside {
    margin-top: 10px;
}

aside h2, aside h3 {
    text-align: center;
    font-size: 1.3em;
}

audio {
    display: block;
    margin: 20px auto;
}

table {
    width: 100%;
    border: 2px solid;
    margin: 10px 0;
}

td th {
    color: black;
    border: 2px solid;
    padding: 10px;
    text-align: center;
}

footer {
    padding: 40px 0;
    text-align: center;
}

#menu {
    display: none;
}

@media screen and (min-w: 768px) {
    header img {
        display: block;
        width: 65%;
        margin: 10px auto;
    }

    header {
        font-size: 2em;
    }

    .slicknav_menu {
        display: none;
    }

    #menu {
        display: block;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 300px;
    }

    section img, aside img {
        display: block;
        width: 75%;
        margin: 0 auto;
    }

    section h1 {
        font-size: 2em;
    }

    aside h2, aside h3 {
        font-size: 1.7em;
    }

    video {
        display: block;
        width: 90%;
        margin: 20px auto;
    }
}

/* Desktop Styles */

@media screen and (min-w: 1024px) {
    header img {
        width: 40%;
    }

    header {
        border-radius: 20px 20px 0 0;
        font-size: 3em;
    }

    nav {
        background-color: #F2F2F0;
        padding: 5px;
    }

    nav li a {
        width: 175%;
    }

    nav li a:hover {
        border-radius: 20px;
        color: #F21D44;
    }

    main {
        display: flex;
    }

    section, aside {
        margin: 10px;
    }

    section {
        width: 70%;
    }

    aside {
        width: 30%;
    }

    video {
        display: block;
        width: 75%;
    }
}